---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { getRelatedContent } from "../../utils/getRelatedContent";

export async function getStaticPaths() {
  const poems = await getCollection("poems");
  return poems.map((poem) => ({
    params: { slug: poem.slug },
    props: { poem },
  }));
}

const { poem } = Astro.props;
const { Content } = await poem.render();

const relatedEssay = await getRelatedContent("poem", poem.slug);
---

<Layout title={poem.data.title}>
  <h1>{poem.data.title}</h1>
  <Content />

  {
    relatedEssay && (
      <div>
        <h2>Related Essay</h2>
        <p>
          <a href={`/essays/${relatedEssay.slug}`}>{relatedEssay.data.title}</a>
        </p>
      </div>
    )
  }
</Layout>
