---
import Layout from "../components/Layout.astro";
---

<Layout title="About">
  <h1>About</h1>
  <p>
    This blog is written by an engineer without any theoretical background in
    ML. But I love finding beautiful ideas hidden inside ML/AI papers.
  </p>
  <p>
    My interest in state space models began with S4, mainly because I did not
    fully understand how S4 worked. I've started this website, in part, as an
    attempt to lift that veil of ignorance.
  </p>
  <!-- Add the rest of the content here -->
</Layout>
