---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <h1>About</h1>
  <p>This simple magazine is about poetics now that AI's have showed up.</p>
  <p>
    Poems written in collaboration with AI's will be featured, as well as essays
    about those poems and other topics.
  </p>
  <!-- Add the rest of the content here -->
</Layout>
