---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

const poems: CollectionEntry<"poems">[] = await getCollection("poems");
const essays: CollectionEntry<"essays">[] = await getCollection("essays");

// Sort poems and essays by date if available
poems.sort(
  (a, b) => (b.data.date?.valueOf() ?? 0) - (a.data.date?.valueOf() ?? 0)
);
essays.sort(
  (a, b) => (b.data.date?.valueOf() ?? 0) - (a.data.date?.valueOf() ?? 0)
);
---

<Layout title="State Space Poetry">
  <!-- <h1>State Space Poetry</h1> -->

  <h2>Poems</h2>
  <ul>
    {
      poems.map((poem) => (
        <li>
          <a href={`/poems/${poem.slug}`}>{poem.data.title}</a>
          {/* {poem.data.date && (
            <span>
              {" "}
              - Published on: {new Date(poem.data.date).toLocaleDateString()}
            </span>
          )} */}
        </li>
      ))
    }
  </ul>

  <h2>Essays</h2>
  <ul>
    {
      essays.map((essay) => (
        <li>
          <a href={`/essays/${essay.slug}`}>{essay.data.title}</a>
          {/* {essay.data.date && (
            <span>
              {" "}
              - Published on: {new Date(essay.data.date).toLocaleDateString()}
            </span>
          )} */}
        </li>
      ))
    }
  </ul>
</Layout>
