---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";

const items = await getCollection("essays"); // or "essays" for the essays page
---

<Layout title="Essays">
  <!-- or "Essays" for the essays page -->
  <h1>Essays</h1>
  <!-- or "Essays" for the essays page -->
  <ul>
    {
      items.map((item) => (
        <li>
          <a href={`/essays/${item.slug}`}>{item.data.title}</a>
          {item.data.date && <span> - {item.data.date.toDateString()}</span>}
        </li>
      ))
    }
  </ul>
</Layout>
