---

---

<footer>
  <p>
    This site is inspired by our favorite state space<a
      href="https://www.statespace.info/"
      target="_blank"
      rel="noopener noreferrer"
    >
      blog.</a
    >
  </p>
</footer>

<style>
  footer {
    margin-top: 3rem;
    padding-top: 1rem;
    border-top: 1px solid #eee;
    text-align: center;
    font-size: 0.9rem;
    color: #777;
  }

  footer a {
    color: #555;
    border-bottom: none;
  }

  footer a:hover {
    color: #000;
  }
</style>
