---

---

<footer
  style="margin-top: 2rem; padding-top: 1rem; border-top: 1px solid #ccc; text-align: center;"
>
  <p>
    This site is inspired by our favorite <a
      href="https://www.statespace.info/"
      target="_blank"
      rel="noopener noreferrer">state-space</a
    > blog
  </p>
</footer>
