---

---

<nav class="navbar clearfix">
  <a href="/" class="full">Home</a><a href="/" class="abbr">H</a> |
  <a href="/poems" class="full">Poems</a><a href="/poems" class="abbr">P</a> |
  <a href="/poetics" class="full">Poetics</a><a href="/poetics" class="abbr"
    >Po</a
  > |
  <a href="/ai-theory" class="full">AI Theory</a><a
    href="/ai-theory"
    class="abbr">AI</a
  > |
  <a href="/generative-art" class="full">Generative Art</a><a
    href="/generative-art"
    class="abbr">GA</a
  > |
  <a href="/about" class="full">About</a><a href="/about" class="abbr">A</a>
</nav>
