---

---

<nav class="navbar clearfix">
  <a href="/" class="full">Home</a> |
  <a href="/poems" class="full">Poems</a> |
  <a href="/poetics" class="full">Poetics</a> |
  <a href="/ai-theory" class="full">AI Theory</a> |
  <a href="/generative-art" class="full">Generative Art</a> |
  <a href="/about" class="full">About</a>
</nav>
