---
import Layout from "../../components/Layout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const poemEntries = await getCollection("poems");
  return poemEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title}>
  <article>
    <h1>{entry.data.title}</h1>
    <p>Published on: {entry.data.date.toDateString()}</p>
    <div class="tags">
      {entry.data.tags.map((tag) => <span class="tag">{tag}</span>)}
    </div>
    <Content />
  </article>
</Layout>

<style>
  article {
    max-width: 65ch;
    margin: 0 auto;
  }
  .tags {
    margin: 1em 0;
  }
  .tag {
    background-color: #f0f0f0;
    padding: 0.2em 0.5em;
    margin-right: 0.5em;
    border-radius: 0.3em;
    font-size: 0.8em;
  }
</style>
